# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Builds
/dist
/build

# Temporários
*.tmp
*.temp
*.log
*.cache
*.pid

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/